<body>    
    <h1 class="text-center">Página no encontrada error 404</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-4"></div>
            <div class="col-lg-4 col-sm-4">
                <img src="https://media.istockphoto.com/id/924949200/vector/404-error-page-or-file-not-found-icon.jpg?s=170667a&w=0&k=20&c=gsR5TEhp1tfg-qj1DAYdghj9NfM0ldfNEMJUfAzHGtU="
                    alt="">
            </div>
            <div class="col-lg-4 col-sm-4"></div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <h1>Usuario verifique que no hubo un error de tipeo</h1>
    </div>
</body>
