<body background="img/background.jpg">
	<div class="card">
		<div class="grid-container">
            <div class="grid-item" onclick="window.location.href=''">
              <a href="user/registerUser.html"><img src="img/user.png" alt="User icon" class="grid-item-image"></a>
              <div class="grid-item-content">
                <h2>Usuario</h2>
                <p>Registrate como usuario normal.</p>
              </div>
            </div>
            <div class="grid-item">
              <a href="admin/registerAdmin.html"><img src="img/admin.png" alt="Admin icon" class="grid-item-image"></a>
              <div class="grid-item-content">
                <h2>Administrador</h2>
                <p>Registrate como administrador.</p>
              </div>
            </div>
            <div class="grid-item">
              <a href="prov/registerProv.html"><img src="img/prov.png" alt="Manager icon" class="grid-item-image"></a>
              <div class="grid-item-content">
                <h2>Proveedor</h2>
                <p>Registrate como Proveedor.</p>
              </div>
            </div>
            <div class="grid-item">
              <a href="prof/registerProf.html"><img src="img/prof.png" alt="Support icon" class="grid-item-image"></a>
              <div class="grid-item-content">
                <h2>Profecionales</h2>
                <p>Registrate como profesionales.</p>
              </div>
            </div>
          </div>
	</div>
</body>
