<div class="content">
  <h2 style="text-align: center;">Mis Consejos</h2>
  <p >En esta seccion podras visualizar todos tus consejos publicados</p>
</div>
<div class="container">
  <div class="main">
    <div class="consejos">
      <div class="consejo">
        <p class="fecha">Fecha: 12-12-2023</p>
        <p class="texto-consejo">Tu informe La NIA 200 Objetivos globales del auditor independiente y realización de la auditoría de conformidad con las Normas Internacionales de Auditoría, señala los principales requerimientos exigidos al auditor tales como: los requerimientos de ética, el escepticismo profesional.</p>
        <button class="eliminar-consejo">Eliminar</button>
        <button class="actualizar-consejo">Actualizar</button>
      </div>
      <div class="consejo">
        <p class="fecha">Fecha: 12-12-2023</p>
        <p class="texto-consejo">Consejo 2</p>
        <button class="eliminar-consejo">Eliminar</button>
        <button class="actualizar-consejo">Actualizar</button>
      </div>
      <div class="consejo">
        <p class="fecha">Fecha: 12-12-2023</p>
        <p class="texto-consejo">Consejo 3</p>
        <button class="eliminar-consejo">Eliminar</button>
        <button class="actualizar-consejo">Actualizar</button>
      </div>
    </div>
  </div>
</div>
