<div class="perfil">
  <h1>Mi Perfil</h1>
  <div class="info">
    <p><strong>Nombre:</strong> Oliver Daniel</p>
    <p><strong>Apellidos:</strong> Jaime Ryeres</p>
    <p><strong>Correo:</strong> ods.perez@yavirac.edu.ec</p>
    <p><strong>Celular:</strong> 987382933</p>
    <p><strong>Region:</strong> Sierra</p>
    <p><strong>Provincia:</strong> Pichincha</p>
  </div>
  <button class="eliminar">Eliminar perfil</button>
  <button class="editar">Editar perfil</button>
  <button class="cerrar-sesion">Cerrar sesión</button>
</div>
