<div class="content">
  <h2 style="text-align: center;">Consejos agrarios</h2>
  <p >En esta sección podrás subir consejos agrarios rapidos y de una forma sencilla para que los usuarios puedan observarlos y aplicarlos</p>
</div>
<div class="contenedor-formulario">
  <form action="/subir-consejo" method="post">
    <h2>Subir consejo</h2>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <label for="consejo">Consejo:</label>
    <textarea id="consejo" name="consejo" rows="4" cols="50" required></textarea>
    <button type="submit">Enviar</button>
  </form>
</div>
