<div class="content">
  <section class="container">
    <h1>Perfiles Profesionales</h1>
    <div class="filters">
        <input type="text" placeholder="Buscar...">
        <select name="provincia" id="provincia">
            <option value="">Filtrar por provincia</option>
            <!-- Agrega las provincias aquí -->
        </select>
        <select name="region" id="region">
            <option value="">Filtrar por región</option>
            <!-- Agrega las regiones aquí -->
        </select>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Años de experiencia</th>
                <th>Institución superior</th>
                <th>Teléfono</th>
                <th>Parroquia</th>
                <th>Provincia</th>
                <th>E-mail</th>
                <th>Titulo superior</th>
            </tr>
        </thead>
        <tbody>
            <!-- Agrega los perfiles de los profesionales aquí -->
            <tr>
                <td>Oliver Daniel Pérez Solarte</td>
                <td>24 años</td>
                <td>Universidad Central del Ecuador</td>
                <td>0988932332</td>
                <td>Ciudad del Sacha</td>
                <td>Sucumbios</td>
                <td>ods.perez@yavv.edu.ec</td>
                <td>Ingeniero en Ambientalismo</td>
            </tr>
            <!-- ... -->
        </tbody>
    </table>
    <button class="exportar">Exportar perfiles</button>
    <nav class="paginador">
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>SIGUIENTE...</button>
    </nav>
</section>
</div>
