<div class="content">
  <div class="container">
    <h2>Mis publicaciones de producto</h2>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Fecha publicación</th>
                <th>Código producto</th>
                <th>Precio</th>
                <th>Descripción del producto</th>
                <th>Region</th>
                <th>Proveedor</th>
                <th>LINK</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fungicida Older 2 en 1</td>
                <td>12-12-2023</td>
                <td>M0911-112a</td>
                <td>$29.50 incl/iva</td>
                <td>Precio negociable a precio actual del producto</td>
                <td>Sierra</td>
                <td>Maiz tierno</td>
                <td>ASDASDASDAS</td>
                <td>
                    <button class="btn-update">Actualizar</button>
                    <button class="btn-delete">Eliminar</button>
                </td>
            </tr>
            <tr>
              <td>Fungicida Older 2 en 1</td>
              <td>12-12-2023</td>
              <td>M0911-112a</td>
              <td>$29.50 incl/iva</td>
              <td>Precio negociable a precio actual del producto</td>
              <td>Sierra</td>
              <td>Maiz tierno</td>
              <td>ASDASDASDAS</td>
              <td>
                  <button class="btn-update">Actualizar</button>
                  <button class="btn-delete">Eliminar</button>
              </td>
          </tr>
        </tbody>
    </table>
    <div class="pagination">
        <button>Anterior</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>Siguiente</button>
    </div>
  </div>
</div>
