<div class="content">
  <h2 style="text-align: center;">Publicar producto de proveedor</h2>
</div>
<section class="product-section">
  <h2>Código producto:</h2>
  <input type="text" class="product-code" placeholder="Ingresa el código de producto">

  <h2>Publicar producto de proveedor</h2>
  <input type="text" class="provider-product" placeholder="Ingresa el nombre del producto">

  <h2>Precio:</h2>
  <input type="number" class="product-price" placeholder="Ingresa el precio">

  <h2>Descripción del producto:</h2>
  <textarea class="product-description" placeholder="Ingresa la descripción del producto"></textarea>

  <h2>Adjuntar link:</h2>
  <input type="text" class="product-link" placeholder="Ingresa el link del producto">

  <h2>Región aplicar:</h2>
  <select class="product-region">
      <option value="region1">Región Litoral</option>
      <option value="region2">Región Andina</option>
      <option value="region3">Región Amazonica</option>
  </select>

  <h2>Beneficios:</h2>
  <textarea class="product-benefits" placeholder="Ingresa los beneficios del producto"></textarea>

  <h2>Proveedor:</h2>
  <input type="text" class="product-provider" placeholder="Ingresa el nombre del proveedor">

  <h2>Tipo de producto:</h2>
  <input type="text" class="product-type" placeholder="Ingresa el tipo de producto">

  <button class="publish-button">Publicar</button>
</section>
