<div class="content">
  <h2 style="text-align: center;">Reportes de usuarios</h2>
  <p>En esta sección podrás observar los reportes de los usuarios que han decidido ayudarnos a repotar plagas agrararias tempranas</p>
  Buscar por provincia:
  <input type="text" id="search-box" placeholder="Buscar...">
  <button id="export-btn">Exportar informes</button>
</div>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Provincia:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Plaga negra de plátano</td>
        <td>Esmeraldas</td>
        <td>
          <button class="my-button-1">Ver reporte</button>
        </td>
      </tr>
      <tr>
        <td>Picudo rojo de la palma</td>
        <td>Los Rios</td>
        <td>
          <button class="my-button-1">Ver reporte</button>
        </td>
      </tr>
      <tr>
        <td>Gorgojo del arroz </td>
        <td>El Oro</td>
        <td>
          <button class="my-button-1">Ver reporte</button>
        </td>
      </tr>
      <tr>
        <td>Gusano cogollero</td>
        <td>Guayas</td>
        <td>
          <button class="my-button-1">Ver reporte</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="paginator">
    <span class="page-numbers current">1</span>
    <a href="listareportes" class="page-numbers">2</a>
    <a href="listareportes" class="page-numbers">3</a>
    <span class="page-numbers dots">...</span>
    <a href="listareportes" class="page-numbers"> Siguiente </a>
  </div>
</div>
