<div class="content">
  <h2 style="text-align: center;"> Informe investigativo sobre plagas agrarias o informes agro aprobado</h2>
  <p >En esta sección podras observar tus informes aprobados por especialistas en la area agro</p>
</div>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
   <th>Título</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12-12-2023</td>
        <td>Plaga negra de plátano</td>
        <td>
          <button class="my-button-1">Ver mi informe</button>
          <button class="-button-2">Eliminar informe</button>
        </td>
      </tr>
      <tr>
        <td>12-12-2023</td>
        <td>Plaga negra de plátano</td>
        <td>
          <button class="my-button-1">Ver mi informe</button>
          <button class="-button-2">Eliminar informe</button>
        </td>
      </tr>
      <tr>
        <td>12-12-2023</td>
        <td>Plaga negra de plátano</td>
        <td>
          <button class="my-button-1">Ver mi informe</button>
          <button class="-button-2">Eliminar informe</button>
        </td>
      </tr>
      <tr>
        <td>12-12-2023</td>
        <td>Plaga negra de plátano</td>
        <td>
          <button class="my-button-1">Ver mi informe</button>
          <button class="-button-2">Eliminar informe</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
